.container {
    position: relative;
    margin: 10px;
}

.title {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    /* color: white; */
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}